{% extends "turnos/base.html" %}
{% block content %}
<div class="mb-3">
    <label for="id_especialidad">Especialidad</label>
    {{ form.especialidad }}
</div>
<div class="mb-3">
    <label for="id_doctor">Doctor</label>
    {{ form.doctor }}
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#id_especialidad").change(function() {
        var especialidadId = $(this).val();
        $.ajax({
            url: "{% url 'ajax_doctores' %}",
            data: { 'especialidad_id': especialidadId },
            success: function(data) {
                let options = "<option value=''>---------</option>";
                data.doctores.forEach(function(doc) {
                    options += `<option value="${doc.id}">${doc.nombre}</option>`;
                });
                $("#id_doctor").html(options);
            }
        });
    });
</script>
